[Desktop Entry]
Version=1.0.8
Type=Application
Name=Spark Mini
Comment=Echo VR companion app
Categories=Utility
Icon=gg.ignitevr.Spark-Mini
Terminal=false